<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <app-input [control]="authForm.get('username')" label="Username" inputType="text"></app-input>
    <app-input [control]="authForm.get('password')" label="Password" inputType="password"></app-input>
    <app-input [control]="authForm.get('passwordConfirmation')" label="Password Confirmation" inputType="password"></app-input>
    <div *ngIf="authForm.get('password').touched && authForm.get('passwordConfirmation').touched && authForm.errors" 
        class="ui red basic label">
        <p *ngIf="authForm.errors.passwordsDontMatch">
            Password and Password Confirmation must match.
        </p>
        <p *ngIf="authForm.errors.noConnection">
            No internet connection available.
        </p>
        <p *ngIf="authForm.errors.unknownError">
            Unknown error occured.
        </p>
    </div>
    <div>
        <button class="ui submit button primary">Submit</button>
    </div>
</form>
